<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<th:block th:fragment="logout">
    <nav class="navbar header-navbar pcoded-header">
        <div class="navbar-wrapper">
            <div class="navbar-logo">
                <a th:href="@{/}">
<!--                    <img class="img-fluid" th:src="@{/images/chiya.png}" alt="Theme-Logo" />-->
                    <span id="logo-text">Chiya Aagan</span>
                </a>
                <a class="mobile-menu" id="mobile-collapse" href="#!">
                    <i class="fas fa-toggle-on"></i>
                </a>
                <a class="mobile-options waves-effect waves-light">
                    <i class="feather icon-more-horizontal"></i>
                </a>
            </div>
<!--            <div class="navbar-container container-fluid">-->

<!--                <ul class="nav-right">-->
<!--                    <li class="user-profile header-notification">-->
<!--                        <div class="dropdown-primary dropdown">-->
<!--                            <div class="dropdown-toggle" data-toggle="dropdown" >-->
<!--                                <img src="" class="img-radius" alt="">-->
<!--                                <span id="username">admin</span>-->
<!--                                <i class="feather icon-chevron-down"></i>-->
<!--                            </div>-->
<!--                            <ul class="show-notification profile-notification dropdown-menu"-->
<!--                                data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">-->
<!--                                <li>-->
<!--                                    <a th:href="@{/login}">-->
<!--                                        <i class="feather icon-log-out"></i> Logout-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </div>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
        </div>
    </nav>
</th:block>
</body>
</html>