.add-action {
    font-size: 11px !important;
    height: 18px !important;
    width: 18px !important;
    line-height: 1px !important;
    margin-right: 5px;
    border-radius: 100% !important;
}

.pcoded .pcoded-navbar .pcoded-item .pcoded-hasmenu[subitem-icon=style1] .pcoded-submenu li>a .pcoded-mtext:before {
    display: none;
}

.project-button {
    &::after {
        border: 0 !important;
    }
}

.add-api {
    .sub-title {
        font-weight: 600 !important;
        font-size: 18px !important;
    }
    form {
        .col-md-6 {
            margin-bottom: 20px;
        }
        input {
            border-radius: .25rem;
        }
    }
}

.client-table {
    th,td {
        border-bottom: 0 !important;
    }
}

.dark-mode {
    height: 40px;
    width: 65px !important;
    position: absolute;
    right: 10px;
}

.hgt-auto {
    height: 34px !important;
    line-height: 1px;
    padding: 0;
}

.client-modal {
    .modal-body {
        p {
            padding: 10px 20px;
            word-break: break-all;
        }
    }
}

.top-info {
    background-color: #fff;
    padding: 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 115px;
    @media screen and (max-width:576px) {
        height: 80px;
    }
    i {
        font-size: 40px;
        margin-right: 15px;
    }
    h4 {
        font-weight: 600;
    }
    .key {
        color: #18c5a9!important;
    }
    .expire {
        color: #5c6bc0!important
    }
    .time {
        color: #ff4081!important
    }
    p {
        margin-bottom: 0;
        color: #f39c12!important;
    }
}

.card-gr {
    background-color: #e3f8f5!important;
}

.duration {
    background-color: #fff;
    padding: 20px;
}

.anchor-link {
    color: blue;
}

.tot-rev-chart {
    margin-bottom: 25px !important;
}

.chart-wrap {
    height: 285px;
    p {
        @media screen and (max-width: 1560px){
            font-size: 13px;
        }  
    }
    .text-c-yellow {
        @media screen and (max-width: 1560px){
            font-size: 18px;
        }
    }
}


.modal-header {
    justify-content: center;
    h5 {
        font-size: 25px;
        font-weight: 700;
    }
}
.modal-footer {
    justify-content: center;
}